<%= form_with(model: print, local: true) do |form| %>
  <% if print.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(print.errors.count, "error") %> prohibited this print from being saved:</h2>

      <ul>
      <% print.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :print_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :print_description %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :print_price %>
  </div>

  <div class="field">
    <%= form.label :in_stock %>
    <%= form.text_field :in_stock, id: :print_in_stock %>
  </div>

  <div class="field">
    <label class="btn btn-primary">
      Upload a Print Image file <%= form.file_field :image_url, style: 'display:none;' %>
    </label> 
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
