<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @print.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @print.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @print.price %>
</p>

<p>
  <strong>In stock:</strong>
  <%= @print.in_stock %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @print.image_url %>
</p>

<%= link_to 'Edit', edit_print_path(@print) %> |
<%= link_to 'Back', prints_path %>
